html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'PT Sans', sans-serif;
}

.clear { clear: both; }
.body-wrapper { width: 100%; }

.section {
  width: 100%;
  min-width: 1170px;
  padding: 30px 0;
  line-height: 150%;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}

.section-title {
  width: 100%;
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 100%;
}

.section-sub-title {
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.btn { cursor: pointer; }

.col_2 { float: left; width: 460px; margin-right: 20px; margin-bottom: 30px; }
.col_2.last { margin-right: 0; }

.col_3 { float: left; width: 300px; margin-right: 20px; margin-bottom: 30px; }
.col_3.last { margin-right: 0; }

.border { box-sizing: border-box; border: solid 10px #fff; }
.border.radius { border-radius: 50%; }
.shadow { box-shadow: 0px 0px 10px -3px #000; }

.section > .container {
  width: 940px;
  margin: 0 auto;
}

.dark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.head {
  position: relative;
  background-color: #fff;
  overflow: auto;
}

.head .slogan {
  float: left;
  width: 300px;
  text-align: right;
}

.head .logo_img {
  float: left;
  width: 250px;
  margin-left: 50px;
  padding-top: 5px;
  text-align: center;
}

.head .logo_img img {
  max-height: 100%;
  max-width: 100%;
}

.head .slogan {
  font-size: 16px;
  line-height: 150%;
}
.head .phone-and-btn {
  float: right;
  text-align: left;
  width: 300px;
}

.head .phone-and-btn .btn {
  line-height: 24px;
  padding: 0 10px;
  border: solid 2px;
  color: rgb(170, 0, 0);
  width: 180px;
  max-width: 250px;
  min-width: 130px;
  text-align: center;
  margin-top: 10px;
}

.head .phone-and-btn .btn:hover {
  background-color: rgb(170, 0, 0);
  color: #fff;
}

.intro {
  overflow: hidden;
  background-color: #fff;
  background-image: url(../img/intro.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.intro .container {
  position: relative;
  padding: 150px 0 100px 0;
}

.intro .title {
  text-align: center;
  font-size: 64px;
  margin-bottom: 10px;
  line-height: 100%;
  text-shadow: 0 1px 1px #000;
  color: #fff;
}

.intro .sub_title {
  padding-bottom: 10px;
  text-align: center;
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px #000;
  color: #fff;
}

.intro .btn {
  border: 3px solid;
  color: #fff;
  font-size: 36px;
  height: 80px;
  line-height: 80px;
  margin: 30px auto 0;
  text-align: center;
  width: 500px;
}

.intro .btn:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

.why-we {
  background: #fbfced;
  background-image: url(../img/pattern_1.png);
}

.why-we .ico {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 7px #fff;
  box-shadow: 0px 0px 10px -3px #000;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 64px;
  background: #f2f2f2;
  color: #333;
}

.why-we .ico .fa {
  line-height: 106px;
}

.why-we .col_3 .title {
  padding-top: 5px;
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.why-we .txt {
  padding-top: 5px;
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.what-we-do {
  background: #fff;
}

.what-we-do .image img {
  width: 280px;
  height: 140px;
}

.what-we-do .col_3 .title {
  font-size: 16px;
  padding: 5px 0 0;
}

.what-we-do .col_3 .txt {
  padding: 5px 0 0;
}

.what-we-do .col_3 .btn {
  color: #D62B2B;
  width: 260px;
  margin: 20px auto 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 17px;
  border: solid 2px;
}

.what-we-do .col_3 .btn:hover {
  color: #fff;
  background-color: #D62B2B;
}

.addition {
  background: #fbfced;
  background-image: url(../img/pattern_1.png);
  font-size: 14px;
}

.addition .col_3 .title {
  font-size: 16px;
  padding: 5px 0 0;
}

.addition .col_3 .txt {
  padding: 5px 0 0;
}

.addition .col_3 .price {
  font-size: 24px;
  padding: 5px 0 0;
}

.addition .col_3 .btn {
  background-color: #000000;
  border-radius: 2px;
  border: 1px solid;
  width: 100%;
  margin: 20px auto 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 17px;
}

.addition .col_3 img {
  width: 280px;
  height: 140px;
}

.portfolio .arr1, .portfolio .arr2 {
  height: 350px;
  margin-bottom: 20px;
  position: relative;
}

.portfolio .image_box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 10px #fff;
  box-shadow: 0px 0px 10px -3px #000;
  cursor: pointer;
}

.portfolio .arr1 .image_box1 { top: 0; left: 0; }
.portfolio .arr1 .image_box2 { top: 0; left: 480px; }
.portfolio .arr1 .image_box3 { top: 0; right: 0; }
.portfolio .arr1 .image_box4 { top: 185px; left: 480px; }
.portfolio .arr1 .image_box5 { top: 185px; right: 0; }

.portfolio .arr2 .image_box1 { top: 0; right: 0; }
.portfolio .arr2 .image_box2 { top: 0; right: 480px; }
.portfolio .arr2 .image_box3 { top: 0; left: 0; }
.portfolio .arr2 .image_box4 { top: 185px; right: 480px; }
.portfolio .arr2 .image_box5 { top: 185px; left: 0; }

.image-box-big {
  position: absolute;
  width: 460px;
  height: 350px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-box-little {
  position: absolute;
  width: 220px;
  height: 165px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.request-form {
  background: #fbfced;
  background-image: url(../img/pattern_1.png);
}

.request-form .btn {
  background-color: rgb(222, 119, 71);
  color: rgb(255, 255, 255);
  border: 1px solid;
  border-radius: 2px;
  margin: 0 auto auto auto;
  width: 450px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  background-repeat: repeat-x;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.request-form .btn:hover {
  color: rgb(222, 119, 71);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(222, 119, 71);
}

.request-form .btn_descr {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}


.client-feedbacks .title, .client-feedbacks .txt {
  padding: 5px 0 0;
}

.client-feedbacks .image {
  float: left;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.client-feedbacks .image img {
  width: 130px;
  height: 130px;
}

.client-feedbacks .right {
  float: right;
  width: 280px;
}


.faq {
  background: #fbfced;
  background-image: url(../img/pattern_1.png);
}

.faq .image img {
  width: 430px;
  height: 330px;
  display: block;
}

.faq .image {
  float: left;
  width: 450px;
  height: 350px;
}

.faq .right {
  width: 440px;
  float: right;
}

.faq .arr1 .right .title {
  font-weight: bold;
}

.contacts { background: #3D3D3D; color: #fff; }
.contacts .map {
  float: left;
  height: 300px;
  width: 620px;
  background-color: #fff;
}

.contacts .map img {
  width: 100%;
  height: 100%;
}

.contacts .text {
  float: right;
  width: 300px;
}


.bottom { padding: 30px; }
.bottom .logo_text {
  float: left;
  max-width: 300px;
  font-size: 24px;
}

.bottom .address-and-ua {
  float: left;
  margin-left: 50px;
  width: 470px;
}

.bottom .address-and-ua .policy {
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin-top: 10px;
  color: #888;
}

.bottom .phone-and-address {
  float: right;
  text-align: left;
}

.bottom .phone-and-address .phone {
  font-size: 24px;
}

.popup_form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  overflow-y: scroll;
  font-size: 13px;
}

.popup_form .popup_form_inner {
  width: 350px;
  height: auto;
  background: #fff;
  padding: 15px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -175px;
}

.popup_form .popup_form_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
}

.popup_form .popup_form_title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #000;
  margin-right: 20px;
}

.popup_form .field {
  color: #000;
}

.popup_form .field_title {
  line-height: 150%;
}

.popup_form .field_description {
  font-size: 12px;
  color: #666;
}

.popup_form .field input[type="text"], .popup_form .field textarea, .popup_form .field input[type="text"] {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 7px 10px;
  border: solid 1px rgba(0,0,0,0.2);
  margin-bottom: 15px;
  color: #313131;
}

.popup_form .popup_form_text {
  font-size: 12px;
  color: #000;
  line-height: 120%;
}

.popup_form .field input[type="submit"] {
  background-color:#AA0000;
  padding: 15px 10px;
  font-size: 24px;
  background-repeat: repeat-x;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  border: solid 2px;
  margin-bottom: 15px;
  color: #fff;
}